<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.just.agentweb.sample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <provider
            android:name="com.just.agentweb.AgentWebFileProvider"
            android:authorities="${applicationId}.AgentWebFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/web_files_public" />
        </provider>

        <activity
            android:name="com.just.agentweb.ActionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="standard"
            android:theme="@style/actionActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden">

        </activity>
        <activity android:name="com.just.agentweb.sample.activity.MainActivity">

        </activity>
        <activity
            android:name="com.just.agentweb.sample.activity.WebActivity"
            android:launchMode="singleTop"

            />
        <!--android:process=":web"-->
        <activity
            android:name="com.just.agentweb.sample.activity.CommonActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop" />
        <activity
            android:name="com.just.agentweb.sample.activity.EasyWebActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />

        <activity
            android:name="com.just.agentweb.sample.activity.ContainerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.AutoHidenToolbarActivity" />
        <activity
            android:name=".activity.NativeDownloadActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.ExternalActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <!--BROWSABLE指定该Activity能被浏览器安全调用-->
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="sample.just.com"
                    android:scheme="agentweb" />
            </intent-filter>
        </activity>
    </application>
</manifest>
